.cards{
    display: flex;
    justify-content: center; 
    height: auto;
}

.card{
    width: 400px; 
    margin: 20px; 
    text-align: center;
    align-items: center; 
}

.img-home{
    width: 20rem;
    height: 10rem;
    margin: 15px;
}

@media screen and (max-width: 600px) {
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    .card{
        width: auto; 
        margin: 10px; 
        text-align: center;
        align-items: center; 
    }
}