.contacto{
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

@media screen and (max-width: 600px) {
    .contacto{
        text-align: center;
        gap: 15px;
    }
}